# Byte-compiled / cached Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Editor / IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store

# Executables
simulator/*.exe

# Output files
simulator/timeloop_container_run/out
simulator/timeloop_container_run/work